<template>
  <section class="grid-container col-1 p-5">
    <p v-if="user !== null">Welcome {{username}}</p>
  </section>
</template>

<script>
import { mapState, mapActions } from 'vuex'

export default {
  name: 'dashboard',
  data () {
      return {
          user: {},
          username: ''
      }
  },
  created(){
    let user = JSON.parse(localStorage.getItem('user'));
    if(user && user.username){
      this.user = user;
      this.username = user.username;
    }
  }
}
</script>
