<template>
  <div class="grid-container col-1 m-6">
    <p>Successfully logged out.</p>
  </div>
</template>

<script>
  import { mapState, mapActions } from 'vuex'

  export default {
        name: 'Logout',
        created(){
            this.logout();
        },
        computed: {
            ...mapState('account', ['status'])
        },
        methods: {
            ...mapActions('account', ['logout']),
        }
  }
</script>