<template>
  <div class="pl-4 background-color-dark" style="margin-top: 5em; margin-bottom: 5em;">
    <h1 class="primary">Table Contents</h1>

    <div class="svg-wrapper">
      <svg height="60" width="320" xmlns="http://www.w3.org/2000/svg">
        <rect class="shape" height="60" width="320" />
      </svg>
      <div class="text">HOVER ME</div>
    </div>

    <input type="text" id="searchInput" v-on:keyup="searchRequest()" v-model="searchVal" placeholder="Search by name...">
    <button class="background-primary text-color-white ml-2" v-b-modal.modal-prevent-closing>Add</button>

    <table>
      <thead>
        <tr>
          <th class="text-left">Name</th>
          <th class="text-left">Calories</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="item in filteredDesserts" :key="item.name">
          <td>{{ item.name }}</td>
          <td>{{ item.calories }}</td>
        </tr>
      </tbody>
    </table>

    <b-modal
      id="modal-prevent-closing"
      ref="modal"
      title="Submit Your Name"
      @show="resetModal"
      @hidden="resetModal"
      @ok="handleOk"
    >
      <form ref="form" @submit.stop.prevent="handleSubmit">
        <b-form-group
          :state="nameState"
          label="Name"
          label-for="name-input"
          invalid-feedback="Name is required"
        >
          <b-form-input
            id="name-input"
            v-model="name"
            :state="nameState"
            required
          ></b-form-input>
        </b-form-group>
        <b-form-group
          :state="caloriesState"
          label="Calories"
          label-for="calories-input"
          invalid-feedback="Calories required"
        >
          <b-form-input
            id="calories-input"
            v-model="calories"
            :state="caloriesState"
            required
          ></b-form-input>
        </b-form-group>
      </form>
    </b-modal>
  </div>
  
</template>

<script>
  import { foodService, userService } from '../_services';

  export default {
    name: "Table",
    data () {
      return {
        searchVal: '',
        name: '',
        nameState: null,
        calories: '',
        caloriesState: null,
        ok: false,
        filteredDesserts: [],
        desserts: [],
      }
    },
    created(){
      this.filteredDesserts = this.desserts;
      foodService.getAll()
                .then(response =>{
                    if(response.records){
                      this.desserts = response.records;
                      this.filteredDesserts = response.records;
                    }
                }).catch(error =>{
                  if(error.error && error.error.messages){
                    this.flashMessage.show({status: 'error', title: error.error.error, message: error.error.messages})
                    userService.logout();
                  }
                });
    },
    methods: {
      checkFormValidity() {
        const valid = this.$refs.form.checkValidity()
        this.nameState = valid ? true : false
        this.caloriesState = valid ? true : false

        return valid
      },
      resetModal() {
        this.name = ''
        this.nameState = null
        this.calories = ''
        this.caloriesState = null
      },
      handleOk(bvModalEvt) {
        // Prevent modal from closing
        bvModalEvt.preventDefault()
        // Trigger submit handler
        this.handleSubmit()
      },
      handleSubmit() {
        // Exit when the form isn't valid
        if (!this.checkFormValidity()) {
          return
        }

        this.submitted = true;
        const { name, calories } = this;
        if (name && calories) {
            let u_data = {name: name,
                          calories: calories}

            foodService.create(u_data).then(response =>{
              if(response.record){
                this.desserts.push(response.record);
              }
              if(response.success){
                  this.flashMessage.show({status: 'success', title: 'Success!', message: response.success})
                  
                  // Hide the modal manually
                  this.$nextTick(() => {
                    this.$refs.modal.hide()
                  })
                  this.resetModal();
              }else if(response.error){
                  this.flashMessage.show({status: 'error', title: 'Oops!', message: response.error})
              }
            })
        }else{
           console.error('error');
        }
      },
      searchRequest(){
        let u_self = this;

        if(this.searchVal !== undefined && this.searchVal.length > 0){
           foodService.search(this.searchVal).then(response =>{
             if(response.records){
               this.filteredDesserts = response.records;
             }
           }).catch(error =>{
              if(error.error && error.error.messages){
                this.flashMessage.show({status: 'error', title: error.error.error, message: error.error.messages});
              }
            });
        }else{
          this.filteredDesserts = this.desserts;
        }
      },
    }
  }
</script>

<style scoped>

  .background-primary{
    background-color: #1bcfc9 !important;
    color:white;
  }

  .pl-4{
    padding: 4em;
  }
  #searchInput {
    width: 80%;
    font-size: 16px;
    border: 1px solid #ddd;
    margin-bottom: 1em;
  }

  button{
    font-size: 16px;
    width: 19%;
    margin-bottom: 1em;
  }

  html, body {
  background: #333;
  height: 100%;
  overflow: hidden;
  text-align: center;
}

.svg-wrapper {
  height: 60px;
    margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 320px;
}

.shape {
  fill: transparent;
  stroke-dasharray: 140 540;
  stroke-dashoffset: -474;
  stroke-width: 8px;
  stroke: #19f6e8;
}

table td, th{
  color: #fff;
  border-color: #fff;
}

.text {
  color: #fff;
  font-family: 'Roboto Condensed';
  font-size: 22px;
  letter-spacing: 8px;
  line-height: 32px;
  position: relative;
  top: -48px;
  text-align: center;
}

@keyframes draw {
  0% {
    stroke-dasharray: 140 540;
    stroke-dashoffset: -474;
    stroke-width: 8px;
  }
  100% {
    stroke-dasharray: 760;
    stroke-dashoffset: 0;
    stroke-width: 2px;
  }
}

.svg-wrapper:hover .shape {
  -webkit-animation: 0.5s draw linear forwards;
  animation: 0.5s draw linear forwards;
}


.form-inline {  
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.form-inline label {
  margin: 5px 10px 5px 0;
}

.form-inline input {
  vertical-align: middle;
  margin-right: 1em;
  background-color: #fff;
  border: 1px solid #ddd;
  font-size: 16px;
  margin-bottom: 1em;
}


@media (max-width: 800px) {
  .form-inline input {
    margin: 10px 0;
  }
  
  .form-inline {
    flex-direction: column;
    align-items: stretch;
  }
}
</style>