<template>
  <b-container fluid id="footer" class="background-color-dark text-color-light">
    <b-row class="p-4 text-center">
      <b-col>
        <h3 class="text-left">Quick links</h3>
        <ul>
            <li><a>About</a></li>
            <li><a>More</a></li>
        </ul>
      </b-col>
      
      <b-col>

      </b-col>
      <b-col class="text-right">
        <h3>Address</h3>
          <p>Somestreet 1, 1140 Vienna</p>
          <p>Austria</p>
          <p>Copyright by Leon</p>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
export default {
  name: 'AppFooter',
}
</script>

