<template>
    <div class="sidebar">
        <div class="sidebar-spacer">
        </div>
        <div class="nav-item" v-for="item in items"  v-bind:key="item.to">
          <navbar-sidebar-item :name="item.name" :to="item.to"></navbar-sidebar-item>
        </div>
    </div>
</template>

<script>
 import NavbarSidebarItem from '@/components/Navbar/NavbarSidebarItem'
 import { mapState, mapActions } from 'vuex'

  export default {
        name: 'NavbarSidebar',
        watch:{ //watch if state changes - login logout - get other navbar items
          navItems(val, oldVal) {
            this.items = val;
          }
        },
        computed: {
          ...mapState({
            navItems: state => state.account.navItems,
          })
        },
        data() {
          return{
            items: [
              { name: 'Home',
                  to: '/'},
              { name: 'About',
                to: '/about'},
              { name: 'External',
                to: '/external'}
            ]
            
          }
        },
        created: function () {
          this.items = this.navItems;
        },
        components: {
          NavbarSidebarItem
        }
    }
</script>

<style>

  .sidebar {
    right:0;
    background-color: #3F4C58;
    position: fixed;
    height: 100%;
    overflow: auto;
    transition:width 1s ease-out;
    width:0;
    overflow:hidden;
    width: 0px;
    z-index: 200;
  }
  
  .sidebar a {
    display: block;
    color: white;
    padding: 16px;
    text-decoration: none;
    border-bottom: 2px solid white;
    margin: 1em 1em;
  }

  .sidebar a:hover {
    color: #1bcfc9;
    border-bottom: 2px solid #1bcfc9;
  }
   
  .sidebar a.active {
    color: #1bcfc9;
    border-bottom: 2px solid #1bcfc9;
  }

  .sidebar-spacer{
    min-height: 15%;
  }

  @media screen and (max-width: 600px) {
    .sidebar{
        width: 100%;
        height: auto;
        position: absolute;
    }
    .menu-right.icon{
        display: none;
    }
    section{
        position: relative;
    }
    .header-banner{
        height: 100% !important;
    }
    .sidebar a {
      text-align: center;
      float: none;
    }
  }
</style>