<template>
    <router-link :to="to">
        {{name}}
    </router-link>
</template>

<script>

export default {
    name: 'NavbarSidebarItem',
    props:{
        name: String,
        to: String
    },
}
</script>
